
<body>
    <nav>
        <span class="logo movable glitch" (click)="animateNav()" [attr.data-text]="logoText">{{ logoText }}</span>
        <div id="right-content">
            @if(!screenIsLarge) {
                <div class="dropdown movable" [ngClass]="{'clicked': dropdownClicked}" (click)="toggleDropdown()">
                    @for(i of [].constructor(3); track i) {
                        <div class="dropdown-bar glitch-box" [ngClass]="{'clicked': dropdownClicked}"></div>
                    }
                </div>
            }
            <ul class="nav-links" [ngClass]="{'dropdown-menu-items': !screenIsLarge}">
                @for (section of sections; track section) {
                    <li [ngClass]="{'movable': screenIsLarge, 'dropdown-link': !screenIsLarge, 'clicked': dropdownClicked}">
                        <a class="nav-link glitch" [attr.data-text]="section" [href]="'#' + section">{{ section }}</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</body>